@charset "UTF-8";
/*

  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web
*/
/* Aquí definimos las Custom properties */
:root {
  --color-primario: #181818;
  --color-secundario: #ffffff;
  /* Tipografía 
  /* --tipo-principal   : Raleway, sans-serif;
  --tipo-secundaria  : Raleway;*/
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primario: #ffffff;
    /*  --color-secundario : #181818;  */
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
@media (prefers-contrast: high) {
  :root {
    --color-primario: black;
    --color-secundario: white;
  }
}
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  object-fit: cover;
  /* opcional */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  /* opcional */
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--color-primario);
  background-color: var(--color-secundario);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.boton {
  border: 2px solid black;
  /*anchura, estilo y color borde*/
  padding: 10px 25px;
  /*espacio alrededor texto*/
  background-color: #fff;
  color: #0c0910;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
@media (max-width: 768px) {
  .boton {
    margin: 0 50px;
  }
}
@media (min-width: 768px) {
  .boton {
    margin: 0 0 0 50px;
  }
}
@media (min-width: 992px) {
  .boton {
    margin: 0 0 0 200px;
  }
}

.boton:hover {
  background: #646266;
  color: #fff;
}

.header {
  background-color: #fff;
}
.header__logo {
  background-color: #0c0910;
  font-family: 700;
  font-size: 50px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 3;
  height: 150px;
}
@media (max-width: 768px) {
  .header__logo {
    width: 30%;
    padding: 45px;
  }
}
@media (min-width: 768px) {
  .header__logo {
    width: 30%;
    padding: 45px;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}
@media (min-width: 992px) {
  .header__logo {
    width: 15%;
    padding: 45px;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}
.header__menu {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 150px;
  padding: 45px;
  background: #fff;
  position: relative;
  float: right;
  z-index: 1;
}
@media (min-width: 768px) {
  .header__menu {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .header__menu {
    width: 85%;
  }
}
.header__menu a {
  color: #0c0910;
  font-family: 700;
  font-size: 20px;
}
.header__menu i {
  color: #0c0910;
  float: right;
}
@media (min-width: 768px) {
  .header__menu i {
    display: none;
  }
}
@media (min-width: 992px) {
  .header__menu i {
    display: none;
  }
}
.header__menu li {
  margin: 0 50px;
  text-align: end;
}
@media (min-width: 768px) {
  .header__menu li {
    display: inline-block;
    float: right;
  }
}
@media (min-width: 992px) {
  .header__menu li {
    float: right;
    right: 0;
  }
}
@media (max-width: 768px) {
  .header__menu input[type=checkbox], .header .header__menu .fa-bars, .header .header__menu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 10px;
    width: 48px;
    height: 48px;
  }
  .header__menu .fa-bars, .header .fa-times {
    font-size: 48px;
    pointer-events: none;
  }
  .header__menu input[type=checkbox] {
    opacity: 0;
  }
  .header__menu {
    background: #fff;
    min-height: 48px;
  }
  .header__menu nav {
    display: none;
  }
  .header__menu input:checked ~ nav {
    display: block;
  }
  .header__menu input:checked ~ .fa-bars {
    display: none;
  }
  .header__menu input:not(:checked) ~ .fa-times {
    display: none;
  }
}

.footer {
  background-color: #0c0910;
  margin-top: 50px;
  width: 100%;
  height: 158px;
  position: relative;
}
@media (min-width: 992px) {
  .footer {
    width: 50%;
    bottom: 0;
    position: fixed;
    bottom: 0;
  }
}
.footer__title {
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  font-weight: 400;
  margin-left: 30px;
}
.footer__email {
  font-family: "Old Standard TT", serif;
  font-size: 18px;
  font-weight: 400;
  margin-left: 30px;
  line-height: 7px;
}
.footer__box {
  background-color: #fff;
  height: 20%;
  margin-left: 30px;
}
@media (max-width: 768px) {
  .footer__box {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .footer__box {
    width: 30%;
  }
}
@media (min-width: 992px) {
  .footer__box {
    width: 300px;
  }
}
.footer__sub {
  background-color: #fff;
  color: black;
  height: 158px;
  width: 158px;
  position: absolute;
  right: 0;
  bottom: 0;
  font-family: "Old Standard TT", serif;
  font-size: 20px;
  font-weight: 700;
  writing-mode: vertical-lr;
  transform: rotate(90deg);
}
@media (min-width: 768px) {
  .footer__sub {
    width: 158px;
  }
}
@media (min-width: 992px) {
  .footer__sub {
    width: 158px;
  }
}

.sub {
  writing-mode: vertical-rl;
}

.hero {
  height: 40%;
}
@media (max-width: 768px) {
  .hero__image {
    height: 300px;
    object-fit: cover;
    object-position: top;
  }
}
@media (min-width: 768px) {
  .hero__image {
    height: 300px;
    object-fit: cover;
    object-position: top;
  }
}
@media (min-width: 992px) {
  .hero__image {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 15%;
    right: 0;
  }
}

.article__title {
  color: black;
  font-family: "Old Standard TT", serif;
  font-size: 50px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .article__title {
    width: 400px;
    line-height: 50px;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .article__title {
    margin: 0 0 0 50px;
    width: 60%;
    line-height: 70px;
  }
}
@media (min-width: 992px) {
  .article__title {
    width: 400px;
    line-height: 50px;
    margin: 0 0 0 200px;
  }
}
.article__paragraph {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
@media (max-width: 768px) {
  .article__paragraph {
    width: 400px;
    line-height: 25px;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .article__paragraph {
    margin: 0 0 0 50px;
    width: 60%;
  }
}
@media (min-width: 992px) {
  .article__paragraph {
    width: 400px;
    line-height: 50px;
    margin: 0 0 0 200px;
  }
}
.article__paragraph--two {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .article__paragraph--two {
    display: none;
  }
}
@media (min-width: 768px) {
  .article__paragraph--two {
    margin: 0 0 0 50px;
    width: 60%;
  }
}
@media (min-width: 992px) {
  .article__paragraph--two {
    width: 400px;
    line-height: 50px;
    margin: 0 0 0 200px;
  }
}

/*# sourceMappingURL=style.css.map */
